@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button, input[type=submit] {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/
@font-face {
    font-family: "Conv_AkzidenzGroteskBQ-BdCnd";
    src: url("../fonts/AkzidenzGroteskBQ-BdCnd.eot");
    src: local("☺"), url("../fonts/AkzidenzGroteskBQ-BdCnd.woff") format("woff"), url("../fonts/AkzidenzGroteskBQ-BdCnd.ttf") format("truetype"), url("../fonts/AkzidenzGroteskBQ-BdCnd.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "PT Sans", sans-serif;
}
@media (max-width: 768px) {
    body.lock {
        overflow: hidden;
    }
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 880px;
    margin: 0 auto;
}
@media (max-width: 892px) {
    .container {
        max-width: 750px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: none;
        padding: 0 10px;
    }
}

.header {
    padding: 32px 0;
}
@media (max-width: 768px) {
    .header {
        padding: 5px 0;
    }
}

.header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
@media (max-width: 768px) {
    .header-top {
        padding: 25px 0 0 0;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
}
@media (max-width: 480px) {
    .header-top {
        padding: 20px 0 0 0;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
}

.languages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
@media (max-width: 768px) {
    .languages__list {
        margin: 0 0 25px 0;
    }
}
.languages__link {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0 4px;
    height: 19px;
    color: #000000;
    font-family: "Bebas Neue", cursive;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
@media (max-width: 480px) {
    .languages__link {
        font-size: 15px;
    }
}
.languages__link:hover {
    text-decoration: underline;
    opacity: 0.7;
}
.languages .active {
    color: #fff;
    background-color: #000;
}
.languages .active:hover {
    text-decoration: none;
    opacity: 1;
}

.ordering {
    color: #000;
    font-family: "Conv_AkzidenzGroteskBQ-BdCnd";
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: underline;
    position: relative;
    z-index: 5;
}
@media (max-width: 480px) {
    .ordering {
        font-size: 12px;
    }
}
.ordering:hover {
    text-decoration: none;
    opacity: 0.7;
}

.header-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: -15px 0 0 0;
}
.header-bottom__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
}
@media (max-width: 768px) {
    .header-bottom {
        margin: -40px 0 0 0;
    }
}
@media (max-width: 480px) {
    .header-bottom {
        margin: -32px 0 0 0;
    }
}

.header-bottom-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.header-bottom-menu__list li {
    margin: 0 45px 0 0;
}
.header-bottom-menu__list li:last-child {
    margin: 0;
}
@media (max-width: 768px) {
    .header-bottom-menu__list li:last-child {
        margin: 0 0 15px 0;
    }
}
@media (max-width: 892px) {
    .header-bottom-menu__list li {
        margin: 0 25px 0 0;
    }
}
@media (max-width: 768px) {
    .header-bottom-menu__list li {
        margin: 0 0 15px 0;
    }
}
@media (max-width: 768px) {
    .header-bottom-menu__list {
        display: block;
    }
}
.header-bottom-menu__link {
    color: #000000;
    font-family: "Conv_AkzidenzGroteskBQ-BdCnd";
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
@media (max-width: 768px) {
    .header-bottom-menu__link {
        font-size: 25px;
    }
}
.header-bottom-menu__link:hover {
    text-decoration: underline;
    opacity: 0.7;
}
.header-bottom-menu_right-part .header-bottom-menu__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.header-bottom-menu_right-part .header-bottom-menu__list li {
    margin: 0 0 0 45px;
}
.header-bottom-menu_right-part .header-bottom-menu__list li:first-child {
    margin: 0;
}
@media (max-width: 892px) {
    .header-bottom-menu_right-part .header-bottom-menu__list li {
        margin: 0 0 0 25px;
    }
}
@media (max-width: 768px) {
    .header-bottom-menu_right-part .header-bottom-menu__list li {
        margin: 0 0 15px 0;
    }
}
@media (max-width: 768px) {
    .header-bottom-menu_right-part .header-bottom-menu__list li:first-child {
        margin: 0 0 15px 0;
    }
}
@media (max-width: 768px) {
    .header-bottom-menu_right-part .header-bottom-menu__list {
        display: block;
        text-align: left;
    }
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 5;
}
.logo__text {
    color: #000000;
    font-family: "Bebas Neue", cursive;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 8px;
}
.logo__text span {
    letter-spacing: 2.72px;
}
@media (max-width: 768px) {
    .logo__text {
        font-size: 10px;
    }
}
@media (max-width: 480px) {
    .logo__text {
        letter-spacing: 5px;
    }
}
.logo__image {
    margin: 13px 0 23px 0;
}
@media (max-width: 768px) {
    .logo__image {
        width: 150px;
        margin: 0px 0 8px 0;
    }
}
@media (max-width: 480px) {
    .logo__image {
        width: 120px;
        margin: 0 0 5px 0;
    }
}
.logo__image img {
    max-width: 100%;
}

.header__icon-burger {
    display: none;
}
@media (max-width: 768px) {
    .header__icon-burger {
        display: block;
        position: absolute;
        top: 25px;
        left: 15px;
        width: 30px;
        height: 20px;
        z-index: 5;
    }
    .header__icon-burger span {
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    .header__icon-burger:before, .header__icon-burger:after {
        content: "";
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    .header__icon-burger:before {
        top: 0;
    }
    .header__icon-burger:after {
        bottom: 0;
    }
    .header__icon-burger.active:before {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        top: 9px;
    }
    .header__icon-burger.active:after {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__icon-burger.active span {
        -webkit-transform: scale(0);
            -ms-transform: scale(0);
                transform: scale(0);
    }
}
@media (max-width: 480px) {
    .header__icon-burger {
        top: 20px;
    }
}
.header__adaptive-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 65px 10px 0 20px;
    overflow: hidden;
    left: -100%;
    top: 0;
    background-color: #fff;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}
.header__adaptive-menu.active {
    left: 0;
}

.promo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #000;
    color: #fff;
    margin: 0 0 75px 0;
}
@media (max-width: 768px) {
    .promo {
        margin: 0 0 40px 0;
    }
}
.promo__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
}
@media (max-width: 768px) {
    .promo__column {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%;
    }
}
@media (max-width: 768px) {
    .promo__column:first-child {
        display: none;
    }
}
.promo__image {
    height: 100%;
    background: url("../img/promo/01.jpg") no-repeat center;
    background-size: cover;
}
.promo__body {
    padding: 75px 20px 75px 60px;
}
@media (max-width: 892px) {
    .promo__body {
        padding: 40px 40px 40px 40px;
    }
}
@media (max-width: 480px) {
    .promo__body {
        padding: 30px 40px 40px 40px;
    }
}
@media (max-width: 350px) {
    .promo__body {
        padding: 25px 25px 25px 25px;
    }
}
.promo__content {
    max-width: 305px;
}
.promo__title.title-h2 {
    margin: 0 0 25px 0;
}
@media (max-width: 768px) {
    .promo__title.title-h2 {
        margin: 0 0 20px 0;
        font-size: 40px;
    }
}
.promo__text {
    margin: 0 0 50px 0;
    font-size: 15px;
    line-height: 25px;
}
@media (max-width: 768px) {
    .promo__text {
        margin: 0 0 30px 0;
    }
}
.promo__btn:hover {
    opacity: 0.8;
}
.promo__link {
    margin: 0 0 0 15px;
}
.promo__link:hover {
    text-decoration: none;
    opacity: 0.7;
}

.title-h2 {
    font-family: "Conv_AkzidenzGroteskBQ-BdCnd";
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.btn {
    display: inline-block;
    height: 50px;
    padding: 0 34px 0 33px;
    background-color: #ffffff;
    color: #000000;
    font-family: "Bebas Neue", cursive;
    font-size: 15px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.link {
    color: #fffffe;
    font-family: "Bebas Neue", cursive;
    font-size: 15px;
    line-height: 25px;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.offers {
    margin: 0 0 40px 0;
}
@media (max-width: 768px) {
    .offers {
        margin: 0 0 20px 0;
    }
}
.offers__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
@media (max-width: 768px) {
    .offers__body {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}
.offers__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    margin: 0 0 35px 0;
}
@media (max-width: 768px) {
    .offers__column {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 50%;
                flex: 1 1 50%;
        margin: 0 0 20px 0;
    }
}
@media (max-width: 380px) {
    .offers__column {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%;
    }
}
.offers__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100%;
}
.offers__image {
    margin: 0 0 23px 0;
}
.offers__image_bg-01 {
    padding: 0 0 100% 0;
    background: url("../img/offers/01.jpg") center no-repeat;
    background-size: cover;
}
.offers__image_bg-02 {
    padding: 0 0 100% 0;
    background: url("../img/offers/02.jpg") center no-repeat;
    background-size: cover;
}
.offers__image_bg-03 {
    padding: 0 0 100% 0;
    background: url("../img/offers/03.jpg") center no-repeat;
    background-size: cover;
}
.offers__image_bg-04 {
    padding: 0 0 100% 0;
    background: url("../img/offers/04.jpg") center no-repeat;
    background-size: cover;
}
.offers__title {
    display: block;
    margin: 0 0 25px 5px;
    padding: 0 5px 0 0;
    max-width: 190px;
}
@media (max-width: 768px) {
    .offers__title {
        max-width: none;
        margin: 0 0 15px 5px;
    }
}
.offers__title:hover {
    opacity: 0.7;
}
.offers__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 0 0 30px 5px;
    padding: 0 5px 0 0;
    max-width: 190px;
    color: #000000;
    font-size: 15px;
    line-height: 25px;
}
@media (max-width: 768px) {
    .offers__text {
        max-width: none;
        margin: 0 0 20px 5px;
    }
}
.offers__btn {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0 0 25px 5px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
}
@media (max-width: 768px) {
    .offers__btn {
        margin: 0 0 15px 5px;
    }
}
.offers__btn:hover {
    opacity: 0.7;
}
.offers__link {
    display: block;
    margin: 0 0 0 5px;
    color: #000;
    font-size: 18px;
}
.offers__link:hover {
    text-decoration: none;
    opacity: 0.7;
}

.title-h3 {
    color: #000000;
    font-family: "Conv_AkzidenzGroteskBQ-BdCnd";
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.features-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #000;
}
.features-top__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
}
@media (max-width: 892px) {
    .features-top__column {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%;
    }
}
@media (max-width: 892px) {
    .features-top__column:last-child {
        display: none;
    }
}
.features-top__title {
    color: #fff;
    text-align: right;
    padding: 50px 7% 50px 10px;
}
@media (max-width: 892px) {
    .features-top__title {
        text-align: center;
        padding: 30px 0;
    }
}
@media (max-width: 480px) {
    .features-top__title {
        padding: 20px 0;
        font-size: 35px;
    }
}
.features-top__image {
    height: 100%;
    background: url("../img/features/01.jpg") center no-repeat;
    background-size: cover;
}

.features-body {
    background-color: #ebebeb;
    padding: 50px 0 0 0;
}
@media (max-width: 768px) {
    .features-body {
        padding: 30px 0 0 0;
    }
}
.features-body__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.features-body__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin: 0 0 50px 0;
}
@media (max-width: 768px) {
    .features-body__column {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%;
        margin: 0 0 30px 0;
    }
}
.features-body__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
@media (max-width: 768px) {
    .features-body__item {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}
.features-body__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    height: 100px;
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.features-body__image_1st-image {
    padding: 0 0 0 5px;
}
.features-body__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 10px 0 10px;
}
.features-body__title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}
@media (max-width: 892px) {
    .features-body__title {
        max-width: 170px;
        line-height: 30px;
    }
}
@media (max-width: 768px) {
    .features-body__title {
        max-width: none;
    }
}
.features-body__text {
    font-size: 15px;
    line-height: 25px;
}
@media (max-width: 768px) {
    .features-body__text {
        font-size: 17px;
        max-width: 370px;
    }
}
@media (max-width: 768px) {
    .features-body__text {
        font-size: 15px;
    }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .features-body__text {
        width: 300px;
        /*позволяет написать отдельный код для IE10+*/
    }
}

.contacts {
    padding: 70px 0 0 0;
}
@media (max-width: 768px) {
    .contacts {
        padding: 40px 0 0 0;
    }
}

@media (max-width: 768px) {
    .contacts-top {
        padding: 0 0 0 40px;
    }
}
@media (max-width: 768px) {
    .contacts-top {
        padding: 0 0 0 20px;
    }
}
.contacts-top__title {
    margin: 0 0 25px 5px;
}
.contacts-top__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.contacts-top__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin: 0 0 20px 0;
    padding: 0 0 0 5px;
}
@media (max-width: 768px) {
    .contacts-top__column {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%;
    }
}
.contacts-top__item {
    display: inline-block;
    color: #000000;
    font-size: 15px;
    line-height: 30px;
    padding: 0 0 0 30px;
}
.contacts-top__item_bg-01 {
    background: url("../img/contacts/01.svg") left no-repeat;
}
.contacts-top__item_bg-02 {
    background: url("../img/contacts/02.svg") left no-repeat;
    padding: 0 0 0 35px;
}
.contacts-top__item_bg-03 {
    background: url("../img/contacts/03.svg") left no-repeat;
}

.contacts-top-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.contacts-top-social__item {
    padding: 0 30px 0 0;
}
.contacts-top-social__item:last-child {
    padding: 0 0 0 0;
}

.contacts-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #000;
}
@media (max-width: 768px) {
    .contacts-body {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}
.contacts-body__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
}
@media (max-width: 768px) {
    .contacts-body__column {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%;
    }
}
.contacts-body__map {
    height: 100%;
}
@media (max-width: 768px) {
    .contacts-body__map {
        height: 300px;
    }
}

.contacts-body-form {
    padding: 55px 60px 50px 60px;
}
@media (max-width: 768px) {
    .contacts-body-form {
        padding: 30px 60px 30px 60px;
    }
}
@media (max-width: 480px) {
    .contacts-body-form {
        padding: 30px 30px 30px 30px;
    }
}
.contacts-body-form__title {
    color: #fff;
    margin: 0 0 30px 0;
}
@media (max-width: 480px) {
    .contacts-body-form__title {
        margin: 0 0 20px 0;
    }
}
.contacts-body-form__content {
    max-width: 375px;
}
.contacts-body-form__field {
    margin: 0 0 25px 0;
}
.contacts-body-form__field textarea {
    height: 100px;
    padding: 10px 18px;
}
.contacts-body-form__input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 18px;
    border: 2px solid #959595;
    background-color: #252525;
    color: #959595;
    font-size: 15px;
}
.contacts-body-form__btn {
    color: #000000;
    font-size: 19px;
    line-height: 25px;
    padding: 0 25px;
    letter-spacing: 2px;
}
.contacts-body-form__btn:hover {
    opacity: 0.8;
}

.footer__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
@media (max-width: 768px) {
    .footer__body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
@media (max-width: 768px) {
    .footer__column:first-child {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
    .footer__column:last-child {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        margin: 20px 0 0 0;
    }
}
.footer__text {
    padding: 50px 0;
}
@media (max-width: 768px) {
    .footer__text {
        padding: 20px 0;
        text-align: center;
    }
}
.footer__text a {
    display: inline-block;
    color: #4d4d4d;
    font-size: 15px;
    line-height: 25px;
    text-decoration: underline;
}
.footer__text a:hover {
    text-decoration: none;
    opacity: 0.8;
}
.footer__logo {
    display: block;
    width: 156px;
}
.footer__logo img {
    max-width: 100%;
}